header
  nav.navbar.navbar-expand-md.border-bottom.border-secondary.py-3
    .container
      a.navbar-brand.text-gray-100(href="/")
        img#app__logo(src="/assets/img/game-app-logo.png" alt="game app logo")
      button.navbar-toggler.btn-default(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        svg.cw-4.ch-4.fill-current(viewBox="0 0 448 512")
          path(d="M442 114H6a6 6 0 01-6-6V84a6 6 0 016-6h436a6 6 0 016 6v24a6 6 0 01-6 6zm0 160H6a6 6 0 01-6-6v-24a6 6 0 016-6h436a6 6 0 016 6v24a6 6 0 01-6 6zm0 160H6a6 6 0 01-6-6v-24a6 6 0 016-6h436a6 6 0 016 6v24a6 6 0 01-6 6z")
      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.ml-md-5.mr-2.mr-sm-0.mb-2.mb-lg-0.col-lg-4
          li.nav-item.mr-md-3
            a.nav-link.active.text-gray-100.text-end(aria-current="page" href="/") Games
          li.nav-item.mr-md-3
            a.nav-link.text-gray-100.text-end(href="/") Reviews
          li.nav-item.mr-md-3
            a.nav-link.text-gray-100.text-end(href="#" tabindex="-1" aria-disabled="/") Coming Soon
        .d-flex.ml-auto.cw-100.col-lg-6.mr-2.mr-sm-0.justify-content-end
          form.position-relative.col-lg-6(x-data="searchWidget()" x-cloak)
            input.form-control.form-control-sm.border-radius-3.relative(type="search" placeholder="Search" aria-label="Search" id="nav-search-input" autofocus autocomplete="off" autocorrect="off" @keyup.debounce.500ms="searchIt($event.target.value)" x-model="searchQuery")
            #search-dropdown.position-absolute.mt-3.rounded.py-3.px-3(:data-dropdown="searchQuery && showSearchDropdown ?'expand': ''" @click.away="showSearchDropdown = false")
              .text-center.text-gray-100(x-show="sendingRequest")
                .spinner-border.spinner-border-sm(role="status" v-else)
                  span.sr-only
              ul.list-group.px-0
                template(x-for="(result, index) in results.slice(0,6)" :key="index")
                  li.list-group-item.mb-2.rounded
                    a.row.gx-2.text-gray-100.position-relative(:href="'/games/'+result.slug")
                      .poster.col-4
                        img.img-fluid(:src="result.thumbnail" alt="")
                      span.col-8(x-text="result.name")
                li.list-group-item.mb-2(x-show="results.length == 0 && searchQuery && !sendingRequest")
                  .text.center
                    span.text-gray-100 No game found
                li.list-group-item.mb-2(x-show="searchQuery.length < 3")
          .user.ml-2
            img.border-radius-50.img-fluid.cw-5.ch-5(src="https://via.placeholder.com/150" alt="")
