doctype html
html(lang="{{ str_replace('_', '-', app()->getLocale()) }}")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Game App

    // Fonts
    //- link(href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet")

    link(rel="stylesheet" href="/assets/css/app.css")
    block styles

  body.bg-dark-purple.d-flex.flex-column
    include ./partials/header.pug
    
    block content

    div.border-bottom.border-secondary

    include ./partials/footer.pug


    script(src="/assets/js/app.js")
    script(type="module" src="https://unpkg.com/@github/include-fragment-element@latest?module")
    block scripts
